* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;

    overflow-x: hidden;
    moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}